.services {
  padding-top: 2.5rem;
}
.services__container {
  gap: 3rem;
}
.row{
  grid-template-columns: repeat(auto-fit, minmax(280.33px, 1fr));
  justify-content: center;
}
h1.heading {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
 }

 p.heading.p__color {
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
 }

 .service__box {
    width: 100%;
    padding: 2rem;
    background-color: #161B22;
    transition: var(--transition);
    border-radius: 2rem;
 }

 .service__box:hover {
    transform: translateY(5px);
    /* background-image: linear-gradient(90deg, #f61b10, #ef0963); */
    background-image: linear-gradient(90deg, #032547 23.3%, #39076b 192.78%);
    border-color:white
    /* background-image: linear-gradient(90deg, #4ca5ff, #b673f8 ); */
    
 }

 .service__box:hover .icon {
    color: #fff;
 }
.p__color{
  color: var(--color-light);
}
 .service__box:hover p.service__text .p__color {
          color: #fff !important;
 }

 .icon {
    font-size: 44px;
    font-weight: 400;
    margin-bottom:1rem;
    display: inline-flex;
    color: #4ca5ff;
 }

 p.service__text.p__color {
    margin-bottom: 0;
    font-size: .9rem;
 }

 h1.service__text {
    font-size:1.17em;
    font-family: Poppins, sans-serif;
    padding: 10px 0px;
 }

 @media only screen and (max-width: 1024px) {
      .service__box {
        padding: 32px;
      }
 }

 