.portfolio{
    position: relative;
    padding-top: 2.5rem;
}
.portfolio__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280.33px, 1fr));  
    /* ** Above ** This is amazing . Intrinsically Responsive CSS Grid with minmax() and min()  --iambasilp*/ 
    gap: 2.5rem;
}

.portfolio__item{
    /* background: linear-gradient(90deg,#09243f 2.34%,#17012e 100.78%); */
    background: #161B22;
    padding: 1.3rem;
    border-radius: 2rem;
    border:2px solid transparent;
    transition: var(--transition);
}
.portfolio__img{
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}
.portfolio__buttons{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.portfolio__buttons .btn{
    border: 1px solid var(--color-light);
}
.portfolio__buttons .btn-primary{
    border: none;
}