.home {
}
.home__container {
  position: relative;
  padding-block: 5rem 0;
  gap: 2rem;
}
.cta {
  display: flex;
  justify-content: flex-start;
  column-gap: 0.75rem;
}
.home__container .me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 18rem;
  height: 21rem;
  overflow: hidden;
  padding: 2.5rem 1.2rem 1.2rem;
  border-radius: 10rem 10rem 0rem 0rem;
  justify-self: center;
}
.home__img {
  width: 300px;
  justify-self: center;
}
.home__data h1 {
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 46px;
}
.home__data h5 {
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  background: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 0.2rem;
}
.home__description {
  line-height: 23px;
  color: var(--color-light);
  margin-block: 1.15rem 2.4rem;
}
.home__container h1 > span {
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2.4rem;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
}
.home__social {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
}
a.social {
  margin: 0 0.5rem;
  font-size: 0.6rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #cc2366;
}
.scroll__down {
  position: absolute;
  bottom: 9rem;
  right: -2.5rem;
  transform: rotate(90deg);
}

/* For small devices */
@media screen and (max-width: 340px) {
  .home__container {
    padding-top: 3.5rem;
  }
  .home__container .me {
    width: 16rem;
  }
}

/* For Medium devices */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 0.7fr;
    text-align: center;
    justify-content: center;
  }
  .cta {
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .home__img {
    width: 320px;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__data {
    text-align: initial;
  }
  .cta {
    justify-content: flex-start;
  }
  .home__social {
    /* position: absolute; */
    top: 60%;
    left: 98%;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .home__data h1 {
    font-size: 45px;
  }
  .home__data h5 {
    font-size: 15px;
  }
  a.social:hover {
    transform: translateX(-3px);
  }
  .home__img {
    width: 350px;
  }
}
@media screen and (min-width: 1064px) {
  .home__container {
    margin-inline: 8rem;
    margin: 0 auto;
  }
  .home__img {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
}
